/* common style for all width */
html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.curtain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: transparent;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.curtain {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, lightblue 50%, aliceblue 75%, white 100%);
}

.crt-left {
    left: 0;
    border-right: 1px solid darkblue;
    box-sizing: border-box;
    animation: curLeft 2.0s ease-out forwards;
}

@keyframes curLeft {

    from,
    40% {
        border-radius: 0 0 0 0;
        translate: 0 0;
    }

    45% {
        border-radius: 0 0 12.5% 0;
        translate: 0 0;
    }

    50% {
        border-radius: 0 0 25% 0;
        translate: 0 0;
    }

    55% {
        border-radius: 0 0 37.5% 0;
        translate: 0 0;
    }

    60% {
        border-radius: 0 0 50% 0;
        translate: 0 0;
    }

    65% {
        border-radius: 0 0 62.5% 0;
        translate: 0 0;
    }

    70% {
        border-radius: 0 0 75% 0;
        translate: 0 0;
    }

    75% {
        border-radius: 0 0 87.5% 0;
        translate: 0 0;
    }

    80% {
        border-radius: 0 0 100% 0;
        translate: -25% 0;
    }

    90% {
        border-radius: 0 0 100% 0;
        translate: -50% 0;
    }

    to {
        border-radius: 0 0 100% 0;
        translate: -110% 0;
    }
}

.crt-right {
    left: 50%;
    border-left: 1px solid darkblue;
    box-sizing: border-box;
    animation: curRight 2.0s ease-out forwards;
}

@keyframes curRight {

    from,
    40% {
        border-radius: 0 0 0 0;
        translate: 0 0;
    }

    45% {
        border-radius: 0 0 0 12.5%;
        translate: 0 0;
    }

    50% {
        border-radius: 0 0 0 25%;
        translate: 0 0;
    }

    55% {
        border-radius: 0 0 0 37.5%;
        translate: 0 0;
    }

    60% {
        border-radius: 0 0 0 50%;
        translate: 0 0;
    }

    65% {
        border-radius: 0 0 0 62.5%;
        translate: 0 0;
    }

    70% {
        border-radius: 0 0 0 75%;
        translate: 0 0;
    }

    75% {
        border-radius: 0 0 0 87.5%;
        translate: 0 0;
    }

    80% {
        border-radius: 0 0 0 100%;
        translate: 25% 0;
    }

    90% {
        border-radius: 0 0 0 100%;
        translate: 50% 0;
    }

    to {
        border-radius: 0 0 0 100%;
        translate: 110% 0;
    }
}

/* style for default width */
@media (min-width: 1024px) {
    .during-line {
        width: 40%;
        height: 4px;
        background-color: darkblue;
        border-radius: 100px;
        margin: 20px 5% 20px auto;
    }

    .only-ms {
        display: none;
    }
}

/* style for mobile width */
@media (max-width: 1023px) {
    .during-line {
        width: 60%;
        height: 2px;
        background-color: darkblue;
        border-radius: 100px;
        margin: 20px 5% 20px auto;
    }
}