/* style for footer of mobile width */
@media (max-width: 1023px) {
    .footer {
        width: 100%;
        padding: 40px 0;
        background-color: gray;
        text-align: center;
    }

    .footer-text {
        font-size: 12px;
        font-weight: normal;
        font-family: sans-serif;
        color: ghostwhite;
    }
}