/* style for header of default width */
@media (min-width: 1024px) {
    .header {
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, white 80%, transparent 100%);
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .header-table {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .name-cell {
        width: 60%;
        text-align: left;
    }

    .name-text {
        font-size: 18px;
        font-weight: bold;
        font-family: serif;
        color: darkblue;
        text-shadow: 1px 1px 4px blue;
        letter-spacing: 2px;
        user-select: none;
    }

    .sub-cell {
        width: 10%;
        text-align: center;
        position: relative;
    }

    .sub-text {
        font-size: 16px;
        font-weight: normal;
        font-family: sans-serif;
        text-shadow: 1px 1px 2px gray;
        user-select: none;
    }

    .st-about {
        color: lightseagreen;
    }

    .st-projects {
        color: orangered;
    }

    .st-motions {
        color: green;
    }

    .st-github {
        color: black;
    }
}